button {
    position: relative;
    color: black;
    background-color: antiquewhite;
    height: 200px;
    width: 100vw;
    font-size: 20px;
}

h2 {
    display: flexbox;
    background-color: antiquewhite;
    text-align: center;
}